<div class="jumbotron text-center">
  <h2>Filepicker.io</h2>
  <p class="lead">
    <img src="https://d2hbo3cbwd28c.cloudfront.net/74d23ac/img/dialog-branding.png" alt="Filepicer.io"><br>
    Connect your app to everything from Dropbox to Gmail in just 2 lines of code and let the Filepicker.io handle the mess of uploading files - we give you a clean, short URL that is easy to store and read from. <a target="_blank" href="https://www.filepicker.com/documentation/">See the Docs»</a>
  </p>
  <p>Filepicker is injected also here <a class="btn btn-lg btn-default" ng-click="pickFile()">Pick File</a></p>
</div>