<div class="jumbotron text-center">
  <h2>Angular Filepicker.io library demo</h2>
  <p class="lead">
    <img src="https://d2hbo3cbwd28c.cloudfront.net/74d23ac/img/dialog-branding.png" alt="Filepicer.io"><br>
    Your files are everywhere. Find them all in one place with <a target="_blank" href="https://www.filepicker.com/">Filepicker.com</a>
  </p>
</div>

<h3>Filepicker pick file directive</h3>
<div class="row">
	<div class="col-md-6">
		<input filepicker type="filepicker" data-fp-services="computer,facebook,dropbox,box" on-success="pickResults=event.fpfile"/>
	</div>
	<div class="col-md-6">
		<pre>&lt;input filepicker type="filepicker" data-fp-services="computer,facebook,dropbox,box" on-success="pickResults=event.fpfile" /&gt;
		</pre>
		<h4>Results</h4>
		<pre>{{pickResults || 'Run example to see results' | json:2}}</pre>
	</div>
</div>

<h3>filepicker-dragdrop directive with multiple files option</h3>
<div class="row">
	<div class="col-md-6">
		<input filepicker type="filepicker-dragdrop" data-fp-multiple="true" on-success="pickMultipleResults=event.fpfiles"/>
	</div>
	<div class="col-md-6">
		<pre>&lt;input filepicker type="filepicker" data-fp-multiple="true" data-fp-services="computer,facebook,dropbox,box" on-success="pickMultipleResults=event.fpfiles" /&gt;
		</pre>
		<h4>Results</h4>
		<pre>{{pickMultipleResults || 'Run example to see results' | json:2}}</pre>
	</div>
</div>
